<div class="container">
  <div class="input-group">
    <span class="input-group-text">First Name</span>
    <input type="text" aria-label="First name" class="form-control" />
  </div>
  <div class="input-group">
    <span class="input-group-text">Middle Name</span>
    <input type="text" aria-label="Middle Name" class="form-control" />
  </div>
  <div class="input-group">
    <span class="input-group-text">Last Name</span>
    <input type="text" aria-label="Last Name" class="form-control" />
  </div>
  <div class="input-group">
    <span class="input-group-text">Birthdate</span>
    <input type="date" aria-label="" class="form-control" />
  </div>
</div>
