<div class="jobs">
  <div class="flex-item">
    <span
      class="job-seekers"
      [ngStyle]="{ 'background-image': 'url(' + jobSeeker1 + ')' }"
    ></span>
  </div>
  <div class="flex-item">
    <span class="inner-text job-seekers-message">
      <h3>FOR JOBSEEKERS</h3>
      <h5>Find your next opportunity with us.</h5>
      <p>
        By representing you and your interests, our Talent Acquisition
        consultants will ensure to properly set expectations and next steps and
        work to get you in front of the best companies with the best
        opportunities in the market today. Whether it be on-site work or
        something fully remote, the search for your ideal job begins when you
        become part of our growing network of professionals. Click here to join
        our network.
      </p>
    </span>
  </div>
</div>
<div class="jobs">
  <div class="flex-item">
    <span class="inner-text job-seekers-message">
      <h3>FOR JOBSEEKERS</h3>
      <h5>Find your next opportunity with us.</h5>
      <p>
        By representing you and your interests, our Talent Acquisition
        consultants will ensure to properly set expectations and next steps and
        work to get you in front of the best companies with the best
        opportunities in the market today. Whether it be on-site work or
        something fully remote, the search for your ideal job begins when you
        become part of our growing network of professionals. Click here to join
        our network.
      </p>
    </span>
  </div>
  <div class="flex-item">
    <span
      class="job-seekers"
      [ngStyle]="{ 'background-image': 'url(' + jobSeeker2 + ')' }"
    ></span>
  </div>
</div>
