<div class="container col-xxl-8 px-4 py-5 para-weight">
  <div class="row flex-lg-row-reverse g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../../../../assets/images/about-story.png"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Company History</h1>
      <p>
        7107 Islands Placement and Promotions, Inc. started on November 28,
        1979.
      </p>
      <p>
        By February of 2003, Joel P. Longares acquired 7107 Islands Placement
        and Promotions, Inc., an overseas land-based recruitment agency based in
        Pasay City.
      </p>
      <p>
        The agency has since deployed more than 4,000 workers to worldwide, with
        the Middle East and Taiwan taking a majority of the deployments.
      </p>
      <p>
        With one goal of providing employment opportunities to Filipinos abroad.
        Our objective is to recruit, train and employ Filipino professionals and
        skilled workers for employment abroad with our team of professional
        entrepreneurs with hands-on experience in overseas recruitment and
        management.
      </p>
      <p>
        7107 Islands Placement and Promotions, Inc. was included in the Top 10
        among Taiwan Deployment Agencies in 2002 as per POEA (Philippine
        Overseas Employment Administration) statistics. It has also earned
        various citations from Filipino Manpower Agencies, accredited to Taiwan,
        Inc. (PHILMAT), for its successful efforts in bringing quality Filipino
        Manpower worldwide.
      </p>
      <p>
        Nowadays, 7107 Islands Placement and Promotions, Inc. has a global reach
        spanning 21 countries in a number of industries including 5-star hotels
        in Qatar, government hospitals in Saudi Arabia and the United Kingdom,
        Oil and Gas companies in the Middle East, Asia, and Africa, and even
        manufacturing, and academe.
      </p>
      <p>
        Driven by our commitment to fulfilling our mission and vision, backed up
        by our service-oriented, professional staff and management, our company,
        7107 Islands Placement and Promotions, Inc., will continue to strive to
        achieve our goals and objective: to pursue a strong partnership,
        reliable and solid relationships with clients in Manpower supply
        business worldwide, and to maintain a long term relationship with our
        employers, our deployed workers and employees as well and as we treat
        all with a fair and square manner of relationship.
      </p>
      <p>
        7107 Islands Placement and Promotions, Inc., is one of the strongest,
        steadfast, and most reliable recruitment agencies in the Philippines.
      </p>
    </div>
  </div>
</div>
